.drop-down {
    height: 210px;
    width: 348px;
    overflow: auto;
    border: 4px solid #3B5CA7;
    box-shadow: 2px 2px 1px 0px #18447E, inset 2px 2px 1px 0px #C89F0A;
    background-color: white;
    position: absolute;
    z-index: 2;
}

.active{
  font-family: arial;
  font-size: 18px;
  color: black;
  font-weight: 400;
  padding: 0px 0px 0px 20px;
  background-color: antiquewhite;
}

.inactive{
  font-family: arial;
  font-size: 18px;
  color: black;
  font-weight: 400;
  padding: 0px 0px 0px 20px;
}