.card {
  width: 200px;
  border: 8px solid #3B5CA7;
  background-color: #FFCB08;
  box-shadow: 8px 8px 5px #18447E;
  box-shadow: inset 7px 7px 1px #C89F0A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 20px; 
  margin: 10px;
  font-family: arial;
}
.deleteIcon{
  position: relative;
  height: 40px;
  width: auto;
  left: 28px;
  top: 5px;
}
.poke{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pics{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h3{
  font-size: 12px;
}
span{
  font-size: 20px;
}